table {
	border-collapse: collapse;
}

table td,table th {
	border: 1px solid black;
}

table tr:first-child th {
	/* 	border-top: 0; */
	
}

.th {
	background-color: #D0D3D4;
	line-height: 30px;
}

table tr td:first-child,table tr th:first-child {
	border-left: 1;
}

/* The alert message box */
.alert {
	margin: 5px 0;
	padding: 5px;
	background-color: #E74C3C; /* Red */
	color: white;
	padding: 5px;
}

/* The close button */
.closebtn {
	padding: 5px;
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 20px;
	line-height: 10px;
	cursor: pointer;
	transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
	color: #78281F;
}

.tr {
	line-height: 30px;
}

.tr1 {
	line-height: 30px;
	width: 10px;
}

.datasmall {
	margin: 0 auto;
	width: 80px;
	text-align: left;
	padding-left: 10px;
}

.data1 {
	margin: 0 auto;
	width: 100px;
	text-align: left;
	padding-left: 10px;
}

.databtn {
	text-align: right;
	padding-bottom: 10px;
}

.datamsg {
	text-align: center;
	font-size: 24px;
	font-family: cursive;
}

.datalarge {
	margin: 0 auto;
	width: 200px;
	text-align: left;
	padding-left: 10px;
}

.sfield {
	margin: 0 auto;
	width: 100px;
	text-align: left;
	padding-left: 10px;
}

.sfield1 {
	margin: 0 auto;
	width: 130px;
	text-align: left;
	padding-left: 10px;
}

.sdata {
	margin: 0 auto;
	width: 200px;
	text-align: left;
	padding-left: 10px;
}